#step3 {
  margin-top: 2.3em;
}

.container {
  max-width: 450px;
  max-height: 460px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 1px 5px black;
  background-color: #e2f9f6;
  border-radius: 5px;
  position: relative;
  font-family: Montserrat;
  
}

.container h2 {
  margin-bottom: 20px;
}

.container label {
  display: block;
  margin-bottom: 10px;
}

.container .feature,
.container .bug {
  width: 100%;
  padding: -10px;
  margin-top: -10px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.container .btn {
  background-color: #15cdb5;
  border: none;
  color: white;
  padding: 10px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.container .btn:hover {
  background-color: #27e4cb;
  border: none;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.container .prv {
  background-color: #15cdb5;
  border: none;
  color: white;
  padding: 10px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
}

.container .prv:hover {
  background-color: #27e4cb;
  border: none;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.afterSubmit{
  background-color: none;
  font-size: 1.3rem;
  
 }