html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to bottom right, #2b4162, #0f0f0f);
    background-repeat: no-repeat;
    background-size: cover; /* Ensure the background covers the entire element */
}
